<!DOCTYPE html> <!-- Это база   -->
<html lang="ru"> <!-- Based   -->
<head>
    <meta charset="utf-8"> <!-- Преобразование юникода, это тоже база    -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  <!-- Штука, которая делает адекватную видимость в разных браузерах.   -->
    <title>Сайт Тетерина Ивана</title> <!-- Название во вкладке   -->
    <link href="../static/css/styles.css" rel="stylesheet" type="text/css"/>

  </head>
  <body>
    <header>
        <h1 style="text-align: center; "> Заголовок 1 </h1> <!-- Главный заголовок, выравнивание по центру   -->
      <p style="text-align: center; ">Просто какая-то информация</p> <!-- Тег p является блочным ( всегда с новой строки ), иначе - абзац   -->
      <nav>
        <ul>
          <li><a id="google" href="http://google.com"> Ссылка на гугл</a></li>
          <li><a href="index.html"> Ссылка на страницу 2</a></li>
          <li><a href="index.html"> Ссылка на страницу 3</a></li>
        </ul>
      </nav>
    </header>
    <main> <!-- Тег с основной информацией   -->
      <article>
        <section>
          <h2 style="text-align: center; "> Заголовок 2 </h2>
          <p style="text-align: center; "> Всякая информация</p>
          <p>Другая всякая информация</p>
        </section>
        <section>
          <h2>Вторая секция</h2>
          <p>Третья всякая информация</p>
        </section>
        <section>
          <h2>И третья</h2>
          <p>Красиво вроде</p>
        </section>
      </article>
    </main>
    <footer>
      <p>Какие-нибудь ссылочки</p>
    </footer>
  </body>
</html>